.elements {
  width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 21px;
  margin: auto;
}
.elements__card {
  width: 282px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  border-radius: 10px 0px 0px 0px;
  box-shadow: 0px 0px 25px 0px #00000026;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.elements__card-photo {
  width: 282px;
  height: 282px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 10px 10px 0px 0px;
}
.element__card-photo_is-active {
  margin: 0 auto;
  margin-top: 90px;
  position: absolute;
  inset: 0;
  place-content: center;
  position: fixed;
  width: 433px;
  height: 540px;
  background-color: rgba(0, 0, 0, 0.5);
}
.elements__content {
  border-radius: 0px 0px 10px 10px;
  display: flex;
  background-color: white;
  padding: 25px 15px 31px 21px;
  justify-content: space-around;
}
.elements__title {
  max-width: 282px;
  color: black;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  margin: 0;
  border-radius: 0px 0px 10px 10px;
  font-family: Inter;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.elements__like-button {
  padding-top: 5px;
  height: 19px;
  width: 21px;
  background: transparent url("../images/heartwhite.svg") center no-repeat;
  background-size: 21px 18px;
  border: none;
  padding: 0;
  margin: 0;
}
.elements__like-button:hover {
  opacity: 0.7;
  border: none;
}
.element__like-button_is-active {
  background: transparent url("../images/heartblack.svg") no-repeat;
}
.elements__trash-button {
  background: transparent url("../images/Trash.svg") center no-repeat;
  background-size: 18px 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
}
.elements__trash-button:hover {
  opacity: 0.7;
  border: none;
}
@media screen and (max-width: 768px) {
  .elements {
    width: 768px;
    display: grid;
    grid-template-columns: 297px 297px;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 21px;
    justify-content: center;
    margin-top: 55px;
  }
}
@media screen and (max-width: 320px) {
  .elements {
    width: 320px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    row-gap: 20px;
    padding-top: 56px;
    margin: unset;
  }
  .elements__card {
    width: 282px;
    border-radius: 10px 0px 0px 0px;
    box-shadow: 0px 0px 25px 0px #00000026;
  }
  .elements__card-photo {
    width: 282px;
    height: 282px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 10px 10px 0px 0px;
  }
  .elements__content {
    border-radius: 0px 0px 10px 10px;
    display: flex;
    background-color: white;
    padding: 25px 15px 31px 21px;
    justify-content: space-around;
  }
  .elements__title {
    max-width: 282px;
    color: black;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
    font-family: Inter;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .elements__like-button {
    background-color: white;
    padding-top: 5px;
    height: 19px;
  }
}
