.header {
  max-width: 880px;
  max-height: 74px;
  margin: 0 auto;
}
.header__vector {
  margin-top: 45px;
}
.header__line {
  margin-top: 41px;
  margin-bottom: 40px;
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    margin-left: 23px;
  }
  .header__vector {
    margin-top: 45px;
  }
  .header__line {
    margin-top: 41px;
    margin-bottom: 40px;
    max-width: 320px;
  }
}
