.profile {
  display: flex;
  justify-content: flex-start;
  margin-top: 0 auto;
  align-items: flex-end;
}
.profile__avatar {
  margin-top: 90px;
  margin-bottom: 50px;
  margin-left: 200px;
}

.profile__avatar:hover {
  margin-top: 90px;
  margin-bottom: 50px;
  margin-left: 200px;
  background-image: url("../images/pencil.png");
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.5);
}

.profile__info-name {
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  margin-top: auto;
  margin-bottom: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 12px;
}

.profile__info {
  font-family: Inter;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  justify-content: center;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
.profile__info-ocupation {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin-bottom: 71px;
  margin-top: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__add-button {
  cursor: pointer;
}

.profile__edit-button {
  cursor: pointer;
  color: #ffffff;
  width: 24px;
  height: 24px;
  margin-top: 16px;
}

.profile__edit-button:hover {
  opacity: 0.7;
}

.profile__add-button:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .profile__avatar {
    margin-top: 90px;
    margin-bottom: auto;
    margin-left: 55px;
  }
  .profile__info {
    font-family: Inter;
    font-size: 42px;
    font-weight: 400;
    line-height: 48px;
    justify-content: center;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 200px 50px 100px;
  }
}
@media screen and (max-width: 320px) {
  .profile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    width: 282px;
    margin: 0 auto;
  }
  .profile__avatar {
    margin-top: 90px;
    margin-bottom: auto;
    margin-left: unset;
  }
  .profile__info-name {
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: center;
    margin: auto;
    display: grid;
    margin-top: 30px;
  }
  .profile__info {
    font-family: Inter;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: auto;
  }
  .profile__info-ocupation {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: center;
  }
  .profile__add-button {
    position: absolute;
    top: 380px;
    right: 18px;
    width: 282px;
    height: 50px;
    margin: auto;
    margin-top: 36px;
  }

  .profile__edit-button {
    cursor: pointer;
    color: #ffffff;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 301px;
    right: 26px;
  }

  .profile__edit-button:hover {
    opacity: 0.7;
  }

  .profile__add-button:hover {
    opacity: 0.7;
  }
}
